.layoutContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  padding-top: 3rem; 
  min-height: calc(100vh - 3rem);
}

@media (min-width: 768px) {
  .mainContent {
    padding-top: 4rem; 
    min-height: calc(100vh - 4rem);
  }
}
